[project]
	description = this is helloworld project for testing github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/deerk
[access "refs/for/refs/*"]
	read = group user/deerk
	push = group user/deerk
	label-Code-Review = -2..+2 group user/deerk
	label-Verified = -1..+1 group user/deerk
	rebase = group user/deerk
	removeReviewer = group user/deerk
	submit = group user/deerk
[access "refs/heads/*"]
	read = group user/deerk
	create = group user/deerk
	push = +force group user/deerk
	pushMerge = group user/deerk
	label-Code-Review = -2..+2 group Reviewer-helloworld
	label-Verified = -1..+1 group Reviewer-helloworld
[access "refs/tags/*"]
	push = +force group user/deerk
	pushTag = group user/deerk
	pushSignedTag = group user/deerk
